body{
	overflow-x: hidden;
}
.navbar-brand{font-family: 'Chelsea Market', cursive !important;}
.nav-item{ 
	font-weight:normal !important;
	margin-right:10px !important;
	border-bottom:2px solid #00BFFF !important;
	border-radius: 10px; 
	padding-left:10px;
	padding-right:10px;
	font-family: 'Chelsea Market', cursive !important;
	
}

.nav-link{
	color: 	rgba(0,95,127,.7 ) !important;
		
}
.nav-link:hover{
	color:#FFF !important;
}
.nav-item:hover{
	background-color: #00BFFF !important;
	border-radius: 10px; 
	border-bottom:2px solid #1E90FF !important;
}
.carousel-control-prev-icon {
  
  background-image: url(https://github.com/anageek/naufrago/blob/master/previous-arrow.png?raw=true) !important;
}
.carousel-control-next-icon {
	  background-image: url(https://github.com/anageek/naufrago/blob/master/next-arrow.png?raw=true) !important;
}

.carousel {
	height: 50vh;
}

.carousel-item {
    margin-right: 10px;
	background: transparent;
	width: 100%;
	height: 100%;
}


.carousel-item img{
	cursor: zoom-in;
	transition: 0.3s;
}

.div-content {
	margin-right: 0px !important;
	margin-left: 0px !important;
}

.foto-zoom {
  display: none;
  position: fixed;
  z-index: 1031;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
	width: 100%;
	max-width: 80vw;
	max-height: 80vh;
	height: auto;
}

@media screen and (max-width: 600px) {
  .modal-content {
		max-width: 100vw !important;
		max-height: 100vh !important;
	}
}
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white !important;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
	cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.profile_image{
  width: 100px !important;
  height: 100px;
}
.release_new{
  padding: 10px 0 ;
  border-bottom: 1px solid #ccc;
  align-items: center;
}