body{
	
}
.navbar-brand{font-family: 'Arial', cursive;}
.nav-item{ 
	font-weight:normal !important;
}
.nav-link{
	color:#000 !important;
}
.nav-link:hover{
	color:#FFF !important;
}
.nav-item:hover{
	background-color: #00BFFF !important;
	border-radius: 10px; 
}
